.form-container {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background-color: #bf8653;
  color: black;
}

.add-ingredient-button {
  padding: 5px;
  background-color: #fae29c;
  color: black;
  border: 1px solid brown;
  cursor: pointer;
  margin-left: 20px;
}

.delete-ingredient-button {
  padding: 5px;
  cursor: pointer;
}

.submit-button {
  padding: 5px;
  background-color: #fae29c;
  color: black;
  border: 1px solid brown;
  cursor: pointer;
}

body {
  background-color: #fae29c;
}
