.form-container {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 30px;
  border: 1px solid #563528;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background-color: #bf8653;
  color: black;
}
.add-ingredient-button:focus,
.add-ingredient-button:hover {
  background-color: #fdde65;
  border: 2px solid #563528;
  color: #563528;
  font-weight: bold !important;
}

.add-ingredient-button {
  padding: 5px;
  background-color: #9ba54a;
  color: #563528;
  border: 2px solid #563528;
  cursor: pointer;
  font-weight: bold;
  margin-left: 10px;
}

.delete-ingredient-button {
  padding: 5px;
  cursor: pointer;
  margin-left: auto;
  background-color: #de5a4b;
  font-weight: bold;
  color: #563528;
  margin-top: 6px;
}

.submit-button {
  padding: 5px;
  background-color: #9ba54a;
  color: #563528;
  border: 2px solid #563528;
  cursor: pointer;
  font-weight: bold;
}

.submit-button:focus,
.submit-button:hover {
  background-color: #9ba54a;
  border: 2px solid #563528;
  color: #563528;
  font-weight: bold !important;
}

body {
  background-color: #fae29c;
}

.search-button {
  padding: 5px;
  background-color: #9ba54a;
  color: #563528;
  border: 2.5px solid #563528;
  cursor: pointer;
  font-weight: bold !important;
}

.search-button:hover,
.search-button:focus {
  padding: 5px;
  background-color: #de5a4b;
  color: #563528;
  border: 2.5px solid #563528;
  cursor: pointer;
}
.mb-3 {
  font-weight: bold;
  color: #fdde65;
  font-size: bigger;
}

.form-container h3 {
  text-align: center;
  font-weight: bold;
  color: #fdde65;
}
.form-container {
  border: 4px solid#563528;
}
.delete-burger-button {
  padding: 5px;
  cursor: pointer;
  margin-left: auto;
  background-color: #de5a4b;
  font-weight: bold;
  color: #563528;
}

.home-card {
  background-color: #bf8653;
  border: 3px solid #563528;
}

.homecard-text h4 {
  text-align: center;
  color: #563528;
}
.homecard-text h3 {
  text-align: center;
  color: #fdde65;
  font-weight: bold;
}

.search-input-bar {
  max-width: 1400px;
  margin: 0 auto;
  border: 3px solid #563528;
  padding: 10px;
  border-radius: 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background-color: #bf8653;
  color: black;
}

.Header {
  text-align: center;
  font-weight: bold !important;
  color: #563528;
  padding: 20px;
}
.BurgerCards {
  background-color: #bf8653;
  border: 5px solid #563528;
  padding: 8px 5px 8px 5px;
}

.Burger-img {
  height: auto;
  width: auto;
}

.card-name {
  font-weight: bold !important;
  text-align: center !important;
  color: #fdde65;
  font-size: x-large;
}

.ingredients-list {
  font-weight: bold !important;

  color: #fdde65;
}

.burger-of-day-intro {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  padding: 10px;
  padding-bottom: 7px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background-color: #bf8653;

  border: #563528 4px solid;
}

.burger-of-day-intro p {
  color: #563528;
  text-align: center !important;
  font-weight: bold !important;
}

.burger-of-day-intro h4 {
  color: #fdde65;
  text-align: center !important;
  font-weight: bold !important;
}
