body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    flex: 1 1 300px;
    box-sizing: border-box;
    margin: 1rem 0.25em;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --turquoise: #00efe1;
  --mid-turquoise: #14d5c9;
  --dark-turquoise: #00333f;
  --black: #030416;
  --white: #f1f1f1;
  --grey: #d6e2e7;
  --dark-grey: #7f8a8e;
  --yellow: #f9c51a;
  --orange: #ff5c00;
  --fuschia: #e80352;
  --blue: #338fff;
  --blue-dark: #145cb3;
  --purple: #cda2ff;
  --green: #00ef7c;
  --color: var(--white);
  --background: var(--black);
  --primary: var(--turquoise);
}

/* buttons */
button {
  padding: 0.5rem 0.75rem;
  border: none;
  font: inherit;
  font-weight: 600;
  color: inherit;
  cursor: pointer;
  color: var(--primary);
  background-color: var(--background);
  border: 2px solid var(--dark-turquoise);
  transition: background-color 0.2s;
}

button.active,
button:focus,
button:hover {
  outline: none;
  color: var(--white);
  background-color: var(--primary);
  border: 2px solid var(--primary);
}

button:disabled {
  cursor: not-allowed;
  color: var(--dark-grey);
  background-color: var(--grey);
}

button.blue {
  border: 2px solid var(--blue-dark);
  color: var(--blue);
}

button.blue.active,
button.blue:focus,
button.blue:hover {
  color: var(--white);
  background-color: var(--blue);
  border: 2px solid var(--blue);
}

.button,
button {
  padding: 0.5rem 0.75rem;
  border: none;
  font: inherit;
  font-weight: 600;
  color: inherit;
  cursor: pointer;
  color: #563528;
  background-color: #9ba54a;
  border: 2px solid #563528;
  transition: background-color 0.2s;
}

.button.active,
.button:hover,
button.active,
button:focus,
button:hover {
  outline: none;
  /* color: var(--white); */
  background-color: #de5a4b;
  border: 2px solid #563528;
  color: #563528;
  font-weight: bold !important;
}

nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.navigation * {
  margin: 0 0.5rem;
}
